[user]
  email = git@tigris.id.au
  name = Danial Pearce
[alias]
  ci = commit
  st = status
  co = checkout
  praise = blame
[color]
  status = auto
  diff = auto
  branch = auto
  pager = true
  log = auto
